@import "tailwindcss";

body{
margin:0;
font-family:Inter,sans-serif;
background:#050816;
color:white;
overflow-x:hidden;
}

*{
box-sizing:border-box;
transition:.3s;
}

html{
scroll-behavior:smooth;
}